* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: burlywood;
}


button {
    padding: 10px 20px;
    text-align: center;
    background-color: bisque;
}